{% extends "base.html.twig" %}

{% block body %}
    <div class="max-w-5xl mx-3 lg:mx-auto my-3 md:my-8 p-4 border border-yellow-700">
        <p class="text-center">Votre adresse email a déjà été enregistrée ou votre jeton n'est pas valide.</p>
    </div>
{% endblock %}