{% extends "base.html.twig" %}

{% block body %}
    <div class="max-w-5xl mx-3 lg:mx-auto my-3 md:my-8 border border-yellow-700">
        <p class="text-center">Votre jeton n'est pas valide.</p>
    </div>
{% endblock %}