<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block base_javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-stone-100 relative">
        <div class="hidden md:block">
            {% include "header.html.twig" %}
        </div>

        <div class="min-h-screen">
            {% block body %}{% endblock %}
        </div>

        <div class="mb-16 md:mb-0">
            {% include "footer.html.twig" %}
        </div>

        <div class="md:hidden fixed bottom-0 left-0 right-0">
            {% include "header.html.twig" %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
