{% extends "base.html.twig" %}

{% block body %}
    <div class="max-w-5xl mx-3 lg:mx-auto my-3 md:my-8 border border-yellow-700">
        <h2 class="flex justify-center my-8 text-5xl text-cyan-800">Politique de confidentialité</h2>
        <ul class="m-6">
            <li>Vos données serons traitées exclusivement par Jimmy Sweat afin de vous identifier et modifier votre mot de passe au besoin.</li>
            <li>Destinataire des données personnelles : Jimmy Sweat</li>
            <li>Vous disposez d’un droit d’accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en me contactant sur jimmy.sweat@example.com.</li>
        </ul>

        <h2 class="flex justify-center my-8 text-5xl text-cyan-800">Mentions légales</h2>
        <ul class="m-6">
            <li>Mail pour nous contacter : jimmy.sweat@example.com</li>
            <li>Identité de l’hébergeur : Nom – Adresse – Numéro de téléphone</li>
            <li>Modalités de règlement des litiges : <a href="https://entreprendre.service-public.fr/vosdroits/R48100" class="text-blue-900 underline hover:no-underline">plateforme européenne de règlement en ligne des litiges (RLL)</a>.</li>
        </ul>

        <h2 class="flex justify-center my-8 text-5xl text-cyan-800">Crédits</h2>
        <ul class="m-6">
            <li>Image d'accueil : <a href="https://images.unsplash.com/photo-1418662589339-364ad47f98a2?q=80&w=2412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="text-blue-900 underline hover:no-underline">Persona che scivola sulla neve durante il giorno WdBQHcIiSIw</a> sur Unsplash - auteur : Johannes Waibel - sous licence : Unsplash</li>
            <li>Image des figures par défaut : <a href="https://images.unsplash.com/photo-1555424263-4f5e2c709c51?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjIzfHxzbm93Ym9hcmR8ZW58MHx8MHx8fDA%3D" class="text-blue-900 underline hover:no-underline">Persona che indossa una giacca grigia e bianca in sella a uno snowboard giallo e rosso NDS1LsDpons</a> sur Unsplash - auteur : Hadi Yazdi Aznaveh - sous licence : Unsplash</li>
            <li>Avatars par défaut : <a href="https://www.dicebear.com/styles/initials/" class="text-blue-900 underline hover:no-underline">Initials</a> sur DiceBear - créateur : Florian Körner - sous licence : CC0 1.0</li>
        </ul>
    </div>
{% endblock %}