{% extends "base.html.twig" %}

{% block body %}
    <div class="max-w-5xl mx-3 lg:mx-auto my-3 md:my-8 border border-yellow-700">
        <h1 class="flex justify-center my-8 text-5xl text-cyan-800">Choisir l'image à la une</h1>

        <div class="m-6">
            {% for media in medias %}
                <div class="flex justify-center items-center">
                    <img src="{{ media.path }}" alt="{{ media.description }}" class="w-64 h-32 object-cover mb-2" />
                    <a href="{{ path('chosen_image_id', {slug: trick.slug, id: media.id}) }}" class="ms-8 p-2 cursor-pointer bg-cyan-800 hover:bg-cyan-700 justify-center shadow-md shadow-cyan-800/50 text-stone-100">Choisir cette image</a>
                </div>
            {% endfor %}
        </div>

        <div class="m-6">
            <a href="{{ path('trick_show', {slug: trick.slug}) }}" class="p-2 cursor-pointer bg-yellow-700 hover:bg-yellow-600 justify-center shadow-md shadow-yellow-700/50 text-stone-100">Revenir sur la figure</a>
        </div>
    </div>
{% endblock %}