{% extends "base.html.twig" %}

{% block body %}
    <div class="max-w-5xl mx-3 lg:mx-auto my-3 md:my-8 border border-yellow-700">
        <h1 class="flex justify-center my-8 text-5xl text-cyan-800">Mot de passe oublié</h1>

        {% for message in app.flashes('notice') %}
            <div class="flash-notice p-3 m-6 bg-green-200" id="flash">
                {{ message }}
            </div>
        {% endfor %}

        {% if error != null %}
            <p class="text-red-800 ms-6">{{ error }}</p>
        {% endif %}
        <div class="m-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        setTimeout(function() {
            document.getElementById('flash').classList.add('hidden')
        }, 10000)
    </script>
{% endblock %}