{% extends "base.html.twig" %}

{% block body %}
    <div class="max-w-5xl mx-3 lg:mx-auto my-3 md:my-8 border border-yellow-700">
        <h1 class="flex justify-center my-8 text-5xl text-cyan-800">Créer un compte</h1>
        <div class="m-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}